<div class="loading" ng-if="$ctrl.loading">
    Loading
</div>
<div class="row">
    <div class="col">
        <div class="alert alert-success" role="alert" ng-if="$ctrl.message.success">
            <ul>
                <li ng-repeat="message in $ctrl.message.success track by $index">{{message}}</li>
            </ul>
        </div>
        <div class="alert alert-danger" role="alert" ng-if="$ctrl.message.error">
            <ul>
                <li ng-repeat="message in $ctrl.message.error track by $index">{{message}}</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <file-uploader></file-uploader>
    </div>
    <div class="col">
        <grid-analysis></grid-analysis>
    </div>
    <div class="col">
        <dbscan-analysis></dbscan-analysis>
    </div>
</div>