<div class="loader loader-default is-active" data-text="{{$ctrl.loadingText}}" ng-if="$ctrl.loading">
</div>
<div class="row">
    <div class="col">
        <div class="alert alert-success" role="alert" ng-if="$ctrl.connected">
            Connected to the server!
        </div>
        <div class="alert alert-danger" role="alert" ng-if="!$ctrl.connected">
            Not connected to the server! Please refresh the page!
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="alert alert-success" role="alert" ng-if="$ctrl.message.success">
            {{$ctrl.message.success}}
        </div>
        <div class="alert alert-danger" role="alert" ng-if="$ctrl.message.error">
            {{$ctrl.message.error}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <file-uploader></file-uploader>
    </div>
    <div class="col">
        <grid-analysis></grid-analysis>
    </div>
    <div class="col">
        <dbscan-analysis></dbscan-analysis>
    </div>
</div>